@import url(./reset.css);

@media (min-width: 800px) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: calc((100vw - 900px) / 2);
    padding-right: calc((100vw - 900px) / 2);
  }
}

body{
	background-image: url('img/Fondo.jpg');
	background-size: cover;
}

p {
	text-align: center;
}

button{
    background-color: #FFC80D;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: verdana;
    font-size: 20px;
    font-weight: bold;
  	padding: 10px 20px; 
 }
 
 button:hover{
	 background-color: #FF910D;
 }
 
.contenedor{
	text-align: center;
	
}

.letras{
	font-family: verdana;
	font-size: 16px;
	font-weight: bold;
	padding: 16px 32px;
	margin: 4px 2px;
}

h1{
	text-align: center;
	font-family: verdana;
	font-size: 30px;
	font-weight: bold;
	padding: 16px 32px;
	margin: 4px 2px;
}

.cajaTexto {
	font-family: verdana;
	font-weight: bold;
	width: 200px; /* Ancho del input */
	padding: 10px; /* Espacio alrededor del texto */
	font-size: 24px; /* Tamaño del texto */
	border: 5px solid black; /* Borde del input */
	border-radius: 5px; /* Bordes redondeados */
}

.tabla{
	font-family: verdana;
	font-size: 16px;
	padding: 5px;
	text-align: justify;
	background-color: black;
	color: white;
}

.pago{
	font-family: verdana;
	font-size: 30px;
	font-weight: bold;
}

.compra{
	background-color: black;
	color: white;
}